brazil-directories/

olddata
olddata.zip
.RData
.Rhistory
.DS_Store
.Renviron

code/00_sample_map_files/

old-out
out
out.zip
out-copy
*.html
*.tex
*.swp
data
code/comparison*
data-zipped

data.zip
.config/
.local/
.rstudio/
__MACOSX/

.rstudio*

.wget-hsts

run_all.log
.Rproj.user

.rstudio-old
