.RData
.Rhistory
.DS_Store

code/00_sample_map_files/

out
out.zip
out-copy
*.html
*.tex
*.swp
data
code/comparison*
data-zipped

data.zip
.config/
.local/
.rstudio/
__MACOSX/

.wget-hsts

run_all.log
.Rproj.user
